body {
  background-color: aqua !important;
}
.head{
  width: 100% !important;
  display: flex;
  justify-content: center;
}
.all{
  display: flex;
  justify-content: center;
}
.form{
  background-color: beige;
  padding: 50px;
  border-radius: 20px;
}
.span{
  text-align: center;
}
.name{
  text-align: center;
}
.inp{
  color: bis;
}